* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
    /*position: relative;*/
}

header {
    width: 100%;
    display: flex;
    background-color: brown;
    padding: 10px;
    color: rgb(214, 187, 145);
}

header a {
    padding: 20px;
    color: rgb(214, 187, 145);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    background: rgba(0, 0, 0, 0.288);
    box-shadow: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
}

header .position {
    display: flex;
    margin-left: auto;
}

main {
    max-height: calc(100vh - 40px)
}
main .container {
    width: 60%;
    margin: 8vh auto;
}

.container .place {
    display: flex;
    flex-direction: row;
    flex: 1;
    /* background-color: red; */
}

.place .sedan {
    padding: 40px;
    border-radius: 5px 0px 0px 5px;
    background-color: hsl(31, 77%, 52%);
}

.place .sedan img {
    padding-bottom: 30px;
}

.place .sedan h2 {
    padding-bottom: 30px;
}

.place .sedan p {
    line-height: 1.5;
    padding-bottom: 70px;
}

.place .sedan button {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    color: hsl(31, 77%, 52%);
    border: 2px solid white;
}

.place .sedan button:hover {
    cursor: pointer;
    background-color: hsl(31, 77%, 52%);
    color: white;
    /* border: 1px white solid; */
}

.place .suv {
    padding: 40px;
    background-color: hsl(184, 100%, 22%);
    /* border: 1px solid black; */
}

.place .suv img {
    padding-bottom: 30px;
}

.place .suv h2 {
    padding-bottom: 30px;
}

.place .suv p {
    line-height: 1.5;
    padding-bottom: 70px;
}

.place .suv button {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    color: hsl(184, 100%, 22%);
    border: 2px solid white;
}

.place .suv button:hover {
    cursor: pointer;
    background-color: hsl(184, 100%, 22%);
    color: white;
}

.place .luxury {
    /* border: 1px solid black; */
    padding: 40px;
    border-radius: 0px 5px 5px 0px;
    background-color: hsl(179, 100%, 13%);
}

.place .luxury img {
    padding-bottom: 30px;
}

.place .luxury h2 {
    padding-bottom: 30px;
}

.place .luxury p {
    line-height: 1.5;
    padding-bottom: 70px;
}

.place .luxury button {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    border: 2px solid white;
    color: hsl(179, 100%, 13%);
    ;
}

.place .luxury button:hover {
    cursor: pointer;
    color: white;
    background-color: hsl(179, 100%, 13%);
}

footer {
    text-align: center;
    background-color: brown;
    padding: 10px;
    color: blanchedalmond;
   /* position: fixed;*/
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 375px) {
    main .container {
        width: 60%;
    }
    .container .place {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}


/* -------------------GRID.HTML--------------------- */

.container2 {
    width: 50%;
    margin: 8vh auto;
}

@media only screen and (max-width: 375px) {
    .container2 {
        width: 80%;
    }
    .grid_container {
        width: 70%;
    }
}

.grid_container {
    width: 80%;
    margin: auto;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.623);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.925);
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 400px;
    gap: 10px;
}

.upper {
    display: grid;
    gap: 10px;
    grid-template-columns: 64% 34%;
}

.lower {
    display: grid;
    gap: 10px;
    grid-template-columns: 45% 53%;
}

.joined {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.box1 {
    background-color: rgba(231, 62, 10, 0.842);
}

.box2 {
    background-color: rgba(255, 217, 0, 0.664);
}

.box3 {
    background-color: rgb(3, 167, 71);
}

.box4 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(6, 226, 255, 0.808);
    ;
}

.box5 {
    background-color: rgba(6, 226, 255, 0.808);
}
